#main-wrapper{
	position: relative;
	width: 600px;
	height: 400px;
	background-color: black;
	margin: 0 auto;
}

.wall{
	position: absolute;
	height: 100px;
	width: 25px;
	bottom: 0px;
	left: 288px;
	background-color: brown;
}
.player{
	position: absolute;
	background-color: red;
}